* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.App {
  width: 300px;
  height: 400px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.notepad {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 12px;
}

.notepad label {
  text-align: left;
  display: block;
}
.notepad h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.notepad input, .notepad textarea, .notepad select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.notepad button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.jots-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 12px;
}
.jots-container h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.jot {
  font-size: 12px;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgb(208, 253, 238);
}